<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD7DT5rQRa_NIB3FYj69t1-hGnvpOye760&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(0, 0),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        <% @images.each do |image| %>
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%= image.lat %>, <%= image.lng %>), 
          map: map,
          title: "<%= image.name %>",
          id: <%= image.id %>
        });
        attachEvent(marker);
        <% end %>
      }

      function attachEvent(marker) {
        google.maps.event.addListener(marker, 'click', function(e) {
          window.location = "images/" + marker.id;
        });
      }
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>
