<h1>New image</h1>

<%= form_for :file_upload, :url => images_path, :method => :post, :html => {:multipart => true} do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Upload" %>
<% end %>

<%= link_to 'Back', images_path %>
